@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.Borgani-logo {
  width: 85px;
  height: 85px;
}
#navItem1 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem2 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem3 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem4 {
  color: #323f4b;
  font-family: "Roboto";
}
.banner-section-bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
  height: 100vh;
  background-size: cover;
}
.carousel{
  padding-top: 100px;
}
.carousel-inner{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.carousel-item{
  height: 40vh;
  width: 100%;
}
.banner-heading {
  color: white;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}
.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}
.custom-button {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.custom-outline-button {
  color: #d0b200;
  background-color: transparent;
  width: 130px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0b200;
  border-radius: 8px;
}
/* .wcu-section {
  background-color: #8fb9f7;
} */
.wcu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.wcu-section-description {
  color: #183b56;
  font-family: "bold";
  font-size: 20px;
}
.wcu-card {
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
}
.wcu-card-image {
  width: 87px;
  height: 90px;
}
.wcu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}
.wcu-card-description {
  color: #7b8794;
  font-family: "Roboto";
  font-size: 16px;
}
.offers {
  color: #323f4b;
  font-style: italic;
  font-weight: 600;
}
.container-bg{
    background-color: #937300;
}
.explore-menu-sectionhome {
  background-image:linear-gradient(#ffffff,#ffd00170, #874587);
  padding-top: 50px;
}
.menu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.menu-item-image {
  border-radius: 16px;
}
.menu-card-title, .menu-card-title2 {
  color: #f9f9f9;
  font-family: cursive;
  font-size: 35px;
  font-weight: 500;
  margin-top: 24px;
}
.menu-card-description2{
    color: white;
}
.menu-card-description{
    color: white;
}
.menu-item-link {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.menu-item-card {
    background-color: #f9fbfe;
    border-radius: 16px;
}
.healthy-food-section {
  background-color: #f9fbfe;
}
.healthy-food-section-img {
  width: 270px;
}
.healthy-food-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.healthy-food-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.delivery-and-payment-section {
  background-color: white;
}
.delivery-and-payment-section-img {
  width: 270px;
}
.delivery-and-payment-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.delivery-and-payment-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.payment-card-img {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}
.thanking-customers-section {
  background-image: radial-gradient(#fff8db, #fae38c);
}
.thanking-customers-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.thanking-customers-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.thanking-customers-section-img {
  width: 270px;
  margin-bottom: 20px;
}
.thanking-customers-section-modal-title {
  color: #d0b200;
  font-weight: 800;
}
.follow-us-section {
  background-color: white;
}
.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.follow-us-icon-container {
  background-color: #faf7e8;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}
.icon {
  color: #d0b200;
  font-size: 35px;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
    .honey-container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .coffee-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.text-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .buy-now{
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;    
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    box-shadow: 0 13px 27px 0 rgb(177, 177, 177);
    text-transform: uppercase;
    transition: .5s;
    overflow: hidden;   

}
.shape{
    top: 0;
    position: absolute;
    background: white;
    width: 30px;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transform: translateX(-170%);
}
.buy-now:hover .shape{
    transform: translateX(400%);
    transition: transform 0.5s;
}
.buy-now:hover{
    background: #ffe100;
    scale: 1.5s;
    transition: all 0.5s;
    color: black;
} */
.Industry{
    color: #000000;
    font-family:'Roboto';
}
.food-munch-logo{
    width: 80px;
}

/* Small (Size >= 576px) */
@media (min-width: 576px) {
    /* #carouselExampleIndicators{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    } */
}

/* Medium (Size >= 768px) */
@media (min-width: 768px) {
  #carouselExampleIndicators{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
}
.Menuview-container{
  margin-top: 250px;
}