/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.container-nav{
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.borgnanics-heading{
  font-size:24px;
}

/* Base styles */
.Borgani-logo {
  width: 85px;
  height: 85px;
  font-family: "Roboto", sans-serif; /* Set default font */
}

#navItem1,
#navItem2,
#navItem3,
#navItem4 {
  color: #323f4b;
  font-family: "Roboto", sans-serif; /* Set default font */
}

.banner-heading {
  color: white;
  font-family: "Roboto", sans-serif; /* Set default font */
  font-size: 45px;
  font-weight: 300;
}

.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto", sans-serif; /* Set default font */
  font-size: 24px;
  font-weight: 300;
}

.custom-button {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}

.custom-outline-button {
  color: #d0b200;
  background-color: transparent;
  width: 130px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0b200;
  border-radius: 8px;
}

/* Media Queries */

/* Extra Small (Size < 576px) */
@media (max-width: 575.98px) {
  /* Update styles for extra small screens */
  .Borgani-logo {
    width: 65px;
    height: 65px;
  }

  .nav-link {
    font-size: 14px;
  }
}


/* Small (Size >= 576px) */
@media (min-width: 576px) {
  
}

/* Medium (Size >= 768px) */
@media (min-width: 768px) {
  
}
.topleft-nav-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-toggler{
  margin: 5px;
}