.footer-main-container{
  background-color: #0d2436;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  @media (max-width: 768px) {
    .footer-section {
      flex-direction: column;
    }
  
    .footer-section .container {
      margin-bottom: 20px;
    }
  
    .footer-section .text-center {
      text-align: center;
    }
    .footer-section .socialMedia {
      font-size: 24px; /* Adjust the font size as needed */
      margin-bottom: 10px; /* Add some space between social media icons */
    }
  }

  .footer-section .socialMedia {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 5px; /* Add some space between social media icons */
  }
  
  .footer-section-heading{
    text-align: start;
    color: #ede5e5;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 75px;
  }
  .footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }
  .footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
  }

  .socialMedia{
    color: white;
    text-decoration: none;
}
.footer-heading{
    text-align: center;
    padding-top: 10px;
}
.socialMedia-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.socialMedia{
    display: flex;
    align-items: center;
}
.sosocialMedia-title{
    margin: 10px;
    color: #959ead;
}
.Copyright-container{
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #0d2436;
    align-self: center;
    color: #cbcfd5;
    padding-bottom: 25px;
    
    
}
.Quick-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.icons{
  width: 120px;
}

.contact-info-container{
  padding-right: 200px;
}
